<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>host 页面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/commons.css' %}">
</head>
<body>
<div>
    <input id="add_host" type="button" value="添加" />
</div>
<table border="1">
    <thead>
        <tr>
           <th>序号</th>
           <th>主机</th>
           <th>IP</th>
           <th>PORT</th>
           <th>岗位序号</th>
           <th>岗位</th>
           <th>操作</th>
        </tr>
    </thead>

    <tbody >
    {% for item in v1 %}
        <tr nid="{{ item.nid }}" biid="{{ item.bi_id }}">
            <td>{{  forloop.counter }}</td>
            <td>{{ item.hostname }}</td>
            <td>{{ item.ip }}</td>
            <td>{{ item.port }}</td>
            <td>{{ item.bi_id }}</td>
            <td>{{ item.bi.caption }}</td>
            <td>
                <a></a>
            </td>
    {% endfor %}
        </tr>
    </tbody>
</table>
{##}
{#<table>#}
{#    <thead>#}
{#        <tr>#}
{#            <th>小说ID</th>#}
{#            <th>章节ID</th>#}
{#            <th>小说章节</th>#}
{#            <th>内容</th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for con in v2 %}#}
{#    <tr nid = "">#}
{#        <td>{{ con.novelid.novelid }}</td>#}
{#        <td>{{ con.chapterid }}</td>#}
{#        <td>{{ con.title }}</td>#}
{#        <td>{{ con.content |safe }}</td>#}
{#    {% endfor %}#}
{#    </tr>#}
{##}
{#    </tbody>#}
{#</table>#}

<div class="shade_div hide"></div>

<div class="add_modal hide">
<!--正常form提交-->
{#    <form method="post" action="host">#}
<!--ajax提交-->
    <form method="post" action="ajax_test">
    <div class="group">
        <input type="text" placeholder="主机名" name="hostname">
    </div>
   <div class="group">
        <input type="text" placeholder="IP地址" name = 'ipname'>
    </div>
       <div class="group">
        <input type="text" placeholder="端口" name="portname">
    </div>
    <div class="group">
        <select name="bu_id">
{#            <option>普通员工</option>#}
{#            <option>开发</option>#}
{#            <option>运维</option>#}
{#            <option>行政</option>#}
            {% for op in v3 %}
            <option value="{{ op.id }}">{{ op.caption }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <input type="submit" value="提交" />
        <input type="button" id="ajax_button" value="ajax提交" >
        <input id = "cancel" type="button" value="取消" />
        <span id="error_msg" style="color: red " ></span>
    </div>
    </form>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script>
    $(function () {
        $('#add_host').click(function () {
            $('.shade_div,.add_modal').removeClass('hide');
        });

        $('#cancel').click(function () {
            $('.shade_div,.add_modal').addClass('hide');
        });
        $('#ajax_button').click(function () {
            $.ajax({
                url:'/novel/ajax_test',
                type:"post",
                data:{"hostname":$("input[name='hostname']").val() ,"ipname":$("input[name='ipname']").val() ,"portname":$("input[name='portname']").val()
                    ,"bu_id":$("select[name='bu_id']").val()}  ,
                success: function(data) {
                {# 将后台返回的字典ret_dic 反序列化为json对象#}
                    var obj_rec = JSON.parse(data);
                    if(obj_rec.status){
{#                        如果后台成功，则刷新页面#}
                        location.reload();
                    }else{
                        $("#error_msg").text(obj_rec.error_msg);
                    }

            }
            })

        })
    })

</script>
</body>
</html>